node_modules
.expo
.expo-debug-*
dist
web-build
builds
coverage
test-results
playwright-report
android
ios
*.hbc
packages/core/dist
packages/web-client/dist
src/web/generated/pwaHtml.ts
package-lock.json
*.md
LICENSE
