<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.USE_BIOMETRIC" />
  <application>
    <service
      android:name="expo.modules.pkeyautofill.PkeyAutofillService"
      android:exported="true"
      android:label="PKEY"
      android:permission="android.permission.BIND_AUTOFILL_SERVICE">
      <intent-filter>
        <action android:name="android.service.autofill.AutofillService" />
      </intent-filter>
      <meta-data
        android:name="android.autofill"
        android:resource="@xml/pkey_autofill_service" />
    </service>
    <activity
      android:name="expo.modules.pkeyautofill.AutofillAuthActivity"
      android:excludeFromRecents="true"
      android:exported="false"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    <receiver
      android:name="expo.modules.pkeyautofill.AutofillBootReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
